@import '../../styles/mixins.scss';

.movies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;

  &--empty {
    text-align: center;
    font-size: 24px;
  }
}

@include tablet {
  .movies-list {
    justify-content: space-around;
  }
}

@include desktop {
  .movies-list {
    justify-content: space-between;
  }
}
